@{
    ViewData["Title"] = "Scrap"; 
}

<div class="row">
    <div class="col-md-4">
        <h2>Enter URL address for scrapping</h2>

        <form asp-controller="Scrapper" asp-action="HTTPScrap" method="post">
            <input type="text" name="scrapQuery" id="scrapQuery" placeholder="Enter URL" />
            <button type="submit">Scrap</button>
        </form>
        <p>searched for: @ViewBag.ScrapResult</p>
    </div>

    @if (ViewBag.ScrapResults != null && ViewBag.ScrapResults.Count > 0)
    {

        <table class="table">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Form of Study</th>
                    <th>Tutor</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var result in ViewBag.ScrapResults)
            {
                var parts = result.Split('\t');

                <tr>
                    <td>@(parts.Length > 0 ? parts[0] : "-")</td>
                    <td>@(parts.Length > 1 ? parts[1] : "-")</td>
                    <td>@(parts.Length > 2 ? parts[2] : "-")</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p> Wait a minute, we're loading the plan</p>
    }
   
</div>